<h1>Welcome!</h1>
<h3>Your Creatures:</h3> 
<%= render 'creatures/index', title: "Creatures" %>
<%= render 'photos/index', title: "Photos" %>
<%= link_to 'Add another photo', new_photo_path, class: 'btn btn-lg btn-primary' %>